{% extends 'base.html' %}

{% block styling %}
<style>
    #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .video {
        display: flex;
        flex-direction: column;
        margin: 0.75rem;
    }

    .thumbnail {
        overflow: hidden;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 7.5px;
        width: 250px;
        height: 140.625px;
    }

    .thumbnail>img {
        width: 100%;
        height: 100%;
    }

    .info {
        display: flex;
        justify-content: space-between;
        width: 250px;
    }

    .info>p {
        margin-top: 0.5rem;
    }

    .title {
        max-width: 215px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
    }

    .uploaded {
        padding-top: 0.12rem;
        font-size: 0.7rem;
        width: 8rem;
        text-align: right;
    }

    .frost {
        filter: blur(5px);
        opacity: 0.4;
        margin-top: -5px;
    }

    .no-videos {
        text-align: center;
        line-height: 1.5;
    }

    #kind-select {
        display: flex;
        justify-content: center;
        margin-bottom: 1.75rem;
    }

    .kind-select-centre {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .not-found-code {
        margin-top: 20vh;
    }

    @media (prefers-color-scheme: dark) {
        .thumbnail {
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.225);
        }

        .sublime {
            color: grey;
        }
    }
</style>
{% endblock %}

{% block content %}
<h1 class="hero">{{ name }}</h1>
<div id="kind-select">
    {% if kind == 'videos' %}
    <a href="/archive/{{ name }}/videos" class="funky">videos</a>
    {% else %}
    <a href="/archive/{{ name }}/videos">videos</a>
    {% endif %}
    {% if kind == 'livestreams' %}
    <a href="/archive/{{ name }}/livestreams" class="kind-select-centre funky">livestreams</a>
    {% else %}
    <a href="/archive/{{ name }}/livestreams" class="kind-select-centre">livestreams</a>
    {% endif %}
    {% if kind == 'shorts' %}
    <a href="/archive/{{ name }}/shorts" class="funky">shorts</a>
    {% else %}
    <a href="/archive/{{ name }}/shorts">shorts</a>
    {% endif %}
</div>
{% if videos %}
<div id="content">
    {% for video in videos %}
    <a href="{{ url_for('routes.video', name=name, kind=kind, id=video.id) }}" class="video">
        <!-- Thumbnail -->
        <div class="thumbnail">
            <img src="{{ url_for('routes.archive_image', name=name, id=video.thumbnail.current().id) }}" {% if not
                video.downloaded() %}class="frost" {% endif %} />
        </div>
        <!-- Information -->
        <div class="info">
            <!-- Title -->
            <p class="title">{{ video.title.current() }}</p>
            <p class="uploaded">
                <!-- Updated -->
                {% if video.updated() %}🌀 {% endif %}
                <!-- Uploaded -->
                {{ video.uploaded.strftime("%d/%m/%Y") }}
            </p>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<p class="not-found-code">No {{ kind }} found!<br /><span class="sublime">Try to refresh your archive?</span></p>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    // Set a cookie of name to value for days
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    // Get a cookie by it's name
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    // Returns the known archive name
    function archiveName() {
        return document.getElementsByClassName("hero")[0].innerHTML
    }

    // Add to recent archives
    function addRecentArchive() {
        const visitedCookie = getCookie("recent_archives")
        const name = archiveName()
        if (visitedCookie == null) {
            setCookie("recent_archives", JSON.stringify([name]))
        } else {
            const existingVisited = JSON.parse(visitedCookie)
            let cleaned = []
            existingVisited.forEach(archiveName => {
                if (archiveName != name) {
                    cleaned.push(archiveName)
                }
            });
            cleaned.push(name)
            setCookie("recent_archives", JSON.stringify(cleaned))
        }
    }

    // Run at start
    addRecentArchive()
</script>
{% endblock %}