@page "/archive"
@inject Blazored.SessionStorage.ISyncSessionStorageService SessionStorage

<h1 class="dashboard-title">@Name's archive</h1>

@code {
    string Name { get; set; }
    protected override void OnInitialized()
    {
        Name = SessionStorage.GetItem<string>("OpenedArchiveName");
    }
}