@page "/archive"
@inject Blazored.SessionStorage.ISyncSessionStorageService SessionStorage
@using YarkApiClient

@if (Name != null)
{
    <h1 class="dashboard-title">@Name's archive</h1>
}
@if (Archive != null)
{
    <div class="cards">
    <YarkBlazor.Components.Dashboard.VideoCollectionCount CardKind=@CardKind.Left
        VideoCollectionKind=@VideoCollectionKind.Videos Count=@Archive.Meta.Data.VideosCount />
    <YarkBlazor.Components.Dashboard.VideoCollectionCount CardKind=@CardKind.Middle
        VideoCollectionKind=@VideoCollectionKind.Livestreams Count=@Archive.Meta.Data.LivestreamsCount />
    <YarkBlazor.Components.Dashboard.VideoCollectionCount CardKind=@CardKind.Right
        VideoCollectionKind=@VideoCollectionKind.Shorts Count=@Archive.Meta.Data.ShortsCount />
    <YarkBlazor.Components.Dashboard.Card CardKind=@CardKind.Full />
    <YarkBlazor.Components.Dashboard.Card CardKind=@CardKind.BigLeft />
    <YarkBlazor.Components.Dashboard.Card CardKind=@CardKind.Right />
</div>
}

<style scoped>
    .cards {
        width: calc(100% - 30px);
        min-width: 725px;
        display: grid;
        grid-template-columns: 3;
        gap: 20px;
    }
</style>

@code {
    string? Name { get; set; } = null;

    Archive? Archive { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        Name = SessionStorage.GetItem<string>("OpenedArchiveName");
        Archive archive = SessionStorage.GetItem<Archive>("OpenedArchive");
        await archive.PullMeta(new Context());
        Archive = archive;

        await base.OnInitializedAsync();
    }
}