@page "/archive/livestreams"
@inject Blazored.SessionStorage.ISyncSessionStorageService SessionStorage
@using YarkApiClient

<h1 class="dashboard-title">@ArchiveName's livestreams</h1>
@if (Archive != null && ArchiveName != null)
{
    <YarkBlazor.Components.VideoList ArchiveId=@Archive.Meta.Id Videos=@Archive.Livestreams.Data />
}

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "page")]
    public int Page { get; set; } = 0;

    string? ArchiveName { get; set; }

    Archive? Archive { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ArchiveName = SessionStorage.GetItem<string>("OpenedArchiveName");

        Archive archive = SessionStorage.GetItem<Archive>("OpenedArchive");
        await archive.PullVideos(VideoCollectionKind.Livestreams, Page);
        Archive = archive;

        await base.OnInitializedAsync();
    }
}