@page "/archive/play"
@inject Blazored.SessionStorage.ISyncSessionStorageService SessionStorage
@using YarkApiClient
@using System.Web

<a href=@GenerateBackLink() class="back-button"><img src=@IconKindMethods.GetUri(IconKind.Back) alt="Back">Back</a>
@if (Video != null && ArchiveId != null)
{
    <div class="player-split">
    <div class="player-left">
        @* NOTE: in the future this could be made into a reel-like view if its a short *@
        <video src=@GenerateVideoLink(Video, ArchiveId) controls autoplay></video>
        <h1>@Video.Title.Current()</h1>
        <p class="info">@Video.Views.Current() views • @GenerateUploadedString(Video)</p>
        <YarkBlazor.Components.VideoDescription Description=@Video.Description.Current() />
        <h2>History</h2>
        <YarkBlazor.Components.VideoHistory Video=@Video />
        @if (Video.Views.Count > 1)
            {
                <h2>Views over time</h2>
                <YarkBlazor.Components.VideoLineChart Label="View count" Elements=@Video.Views />
            }
            @if (Video.Likes.Count > 1)
            {
                <h2>Likes over time</h2>
                <YarkBlazor.Components.VideoLineChart Label="Like count" Elements=@Video.Likes />
            }
        </div>
        <div class="player-right">
            @* TODO: notes here? *@
        </div>
    </div>
}

<style scoped>
    .player-split {
        display: flex;
    }

    .player-right {
        margin-left: 20px;
        margin-right: 20px;
    }

    .back-button {
        color: #525252;
        text-decoration: none;
        font-size: 1rem;
        padding: 10px;
        margin-left: -10px;
    }

    .back-button>img {
        filter: invert(31%) sepia(6%) saturate(8%) hue-rotate(314deg) brightness(94%) contrast(89%);
        width: 18px;
        height: 18px;
        margin-top: 2px;
        margin-bottom: -2px;
        margin-right: 7.5px;
    }

    video {
        width: calc(60vw - 5rem);
        min-width: 500px;
        border-radius: 10px;
        aspect-ratio: 16/9;
        background-color: black;
    }

    h1 {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 1.75rem;
        font-weight: 500;
    }

    h2 {
        font-size: 1.15rem;
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 7.5px;
    }

    .info {
        font-size: 0.9rem;
        color: #525252;
        margin-bottom: 12.5px;
    }
</style>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public string? Id { get; set; } = null;

    [Parameter]
    [SupplyParameterFromQuery(Name = "kind")]
    public string VideoCollectionKindString { get; set; } = "videos";

    [Parameter]
    [SupplyParameterFromQuery(Name = "back")]
    public string? CustomBackString { get; set; }

    Video? Video { get; set; } = null;

    string? ArchiveId { get; set; } = null;

    VideoCollectionKind VideoCollectionKind { get; set; } = VideoCollectionKind.Videos;

    protected override async Task OnInitializedAsync()
    {
        @* Figure out the video collection kind *@
        VideoCollectionKind = VideoCollectionKindMethods.DecodeFromString(VideoCollectionKindString);

        @* Get archive information *@
        Archive archive = SessionStorage.GetItem<Archive>("OpenedArchive");
        ArchiveId = archive.Meta.Data.Id;
        Video = await Video.Get(new Context(), archive.Meta.Data.Id, HttpUtility.UrlDecode(Id));
        @* TODO: err handling on not found video *@

        await base.OnInitializedAsync();
    }

    string GenerateVideoLink(Video video, string archiveId)
    {
        return video.FileUrl(new Context(), archiveId);
    }

    string GenerateUploadedString(Video video)
    {
        return new TimeAgo(video.Uploaded).ToString();
    }

    string GenerateBackLink()
    {
        if (CustomBackString != null)
        {
            return CustomBackString;
        }
        else
        {
            string name = VideoCollectionKindMethods.ToString(VideoCollectionKind);
            return String.Format("/archive/{0}", name);
        }
    }
}