@page "/start"

<div class="start-cards">
    <YarkBlazor.Components.Start.CreateCard OnLeft=@true />
    <YarkBlazor.Components.Start.LoadCard />
</div>

<style scoped>
    .start-cards {
        display: flex;
    }
</style>
