a.button {
    color: initial;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
}

div.lmao {
    width: 19px;
    height: 19px;
    border-radius: 3.5px;
    background-color: gray;
}