<a href=@Link class="sidebar-button @((Active ? "sidebar-active" : ""))">
    <YarkBlazor.Components.SidebarButtonInner Title=@Title Icon=@Icon Active=@Active />
</a>

@* TODO: process archive change *@

<style scoped>
    .sidebar-button {
        color: initial;
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 12.5px;
        padding-right: 12.5px;
        color: #171717;
    }

    .sidebar-active {
        color: #0183FF;
    }
</style>

@code {
    [Parameter]
    public string Title { get; set; } = "Button";

    [Parameter]
    public string Link { get; set; } = "/";

    [Parameter]
    public IconKind Icon { get; set; } = IconKind.Placeholder;

    [Parameter]
    public bool Active { get; set; } = false;
}