@using YarkApiClient

<nav>
    <div class="sidebar-list">
        <a href="/archive" class="sidebar-header">
            <YarkBlazor.Components.Logo />
        </a>
        <hr>
        <YarkBlazor.Components.SidebarButton Title="Dashboard" Link="/archive" Icon=@IconKind.Dashboard />
        <hr>
        <YarkBlazor.Components.SidebarButton Title="Videos" Link="/archive/videos" Icon=@IconKind.Videos
            VideoListButtonKind=@VideoCollectionKind.Videos />
        <YarkBlazor.Components.SidebarButton Title="Livestreams" Link="/archive/livestreams" Icon=@IconKind.Livestreams
            VideoListButtonKind=@VideoCollectionKind.Livestreams />
        <YarkBlazor.Components.SidebarButton Title="Shorts" Link="/archive/shorts" Icon=@IconKind.Shorts
            VideoListButtonKind=@VideoCollectionKind.Shorts />
    </div>
    <div class="sidebar-list">
        <hr>
        <YarkBlazor.Components.SidebarButton Title="Donate" Link="/archive/donate" Icon=@IconKind.Stars />
        <YarkBlazor.Components.SidebarButton Title="Settings" Link="/archive/settings" Icon=@IconKind.Settings />
        <YarkBlazor.Components.SidebarButton Title="Leave" Link="/archive/exit" Icon=@IconKind.Leave />
    </div>
</nav>

<style scoped>
    nav {
        margin: 20px;
        box-sizing: border-box;
        padding: 17.5px;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #171717;
        min-height: calc(470px + 12.5px);
    }

    .sidebar-list {
        display: flex;
        flex-direction: column;
    }

    .sidebar-header {
        color: inherit;
        text-decoration: none;
        text-align: center;
    }

    hr {
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        width: calc(250px - 60px);
        margin: 15px;
    }
</style>
