@inject NavigationManager NavManager
@implements IDisposable
@inject ILogger<SidebarButton> logger

<a href=@Link class="sidebar-button @((Active ? "sidebar-active" : ""))">
    <YarkBlazor.Components.SidebarButtonInner Title=@Title Icon=@Icon Active=@Active />
</a>

<style scoped>
    .sidebar-button {
        color: initial;
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        padding-left: 12.5px;
        padding-right: 12.5px;
        color: #171717;
    }

    .sidebar-active {
        color: #3C60D7;
        border-radius: 15px;
        background-color: #E9F0FE;
    }
</style>

@code {
    [Parameter]
    public string Title { get; set; } = "Button";

    [Parameter]
    public string Link { get; set; } = "/";

    [Parameter]
    public IconKind Icon { get; set; } = IconKind.Placeholder;

    bool Active { get; set; } = false;
    protected override void OnInitialized()
    {
        Uri uri = new Uri(NavManager.Uri.ToString());
        ProcessActiveFromUri(uri);

        NavManager.LocationChanged += HandleLocationChanged;

        base.OnInitialized();
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= HandleLocationChanged;
    }

    void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        Uri uri = new Uri(e.Location);
        ProcessActiveFromUri(uri);
    }

    void ProcessActiveFromUri(Uri uri)
    {
        string absolutePath = uri.AbsolutePath;
        bool activeSnapshot = Active;
        Active = absolutePath == Link;
        if (activeSnapshot != Active)
        {
            StateHasChanged();
        }
    }
}