<img src=@IconKindMethods.GetUri(Icon) class="@((Active ? "sidebar-img-active" : ""))" />
<p>@Title</p>

<style scoped>
    img {
        width: 15px;
        height: auto;
        margin-right: 12.5px;
    }

    p {
        font-size: 14.5px;
        font-weight: 400;
        margin: 0;
        letter-spacing: -0.35px;
    }

    .sidebar-img-active {
        filter: invert(28%) sepia(49%) saturate(3548%) hue-rotate(220deg) brightness(93%) contrast(81%);
    }
</style>

@code {
    [Parameter]
    public string Title { get; set; } = "Button";

    [Parameter]
    public IconKind Icon { get; set; } = IconKind.Placeholder;

    [Parameter]
    public bool Active { get; set; } = false;
}
