<nav>
    <a href="/" class="header">Y</a>
    <hr>
    <YarkBlazor.Components.SidebarButton />
    <hr>
    <YarkBlazor.Components.SidebarButton />
    <YarkBlazor.Components.SidebarButton />
    <YarkBlazor.Components.SidebarButton />
</nav>