<img src=@IconKindMethods.GetUri(Icon) class="@((Active ? "sidebar-img-active" : ""))" />
<p>@Title</p>

<style scoped>
    img {
        width: 17px;
        height: auto;
        margin-right: 12.5px;
    }

    p {
        font-size: 15px;
        font-weight: 500;
        margin:0;
    }

    .sidebar-img-active {
        filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
    }
</style>

@code {
    [Parameter]
    public string Title { get; set; } = "Button";

    [Parameter]
    public IconKind Icon { get; set; } = IconKind.Placeholder;

    [Parameter]
    public bool Active { get; set; } = false;
}
