@using YarkApiClient

    <ol>
@* List *@
@if (History != null && History.Count() > 2)
{
    @foreach (HistoryItem<string> historyItem in History)
        {
            <VideoHistoryItem Item=@historyItem />
        }
}
@* Disclaimers *@
@if (Video.Title.Count < 2 && Video.Description.Count < 2)
{
    <li class="disclaimer">No major changes on record</li>
}
else if (Video.Title.Count < 2)
{
    <li class="disclaimer">No title changes on record</li>
}
else if (Video.Description.Count < 2)
{
    <li class="disclaimer">No description changes on record</li>
}
    </ol>

<style scoped>
    ol {
        list-style-type: decimal;
    }

    .disclaimer {
        margin-bottom: 5px;
        margin-left:2rem;
    }
</style>

@code {
    [Parameter, EditorRequired]
    public Video Video { get; set; } = default!;

    IEnumerable<HistoryItem<string>>? History { get; set; }

    int TitleCount { get; set; } = 0;

    int DescriptionCount { get; set; } = 0;

    protected override void OnInitialized()
    {
        IEnumerable<HistoryItem<string>> titles = HistoryItem<string>.ElementsToHistoryItems("Title", Video.Title);
        TitleCount = titles.Count();
        IEnumerable<HistoryItem<string>> descriptions = HistoryItem<string>.ElementsToHistoryItems("Description",
        Video.Description);
        DescriptionCount = descriptions.Count();
        IEnumerable<HistoryItem<string>> mergedAndSorted = titles.Concat(descriptions).OrderBy(hi => hi.DateTime);
        History = mergedAndSorted;

        base.OnInitialized();
    }
}