@* TODO: merge button and revealed content into new component *@
@if (Description != "" && Description != null)
{
    <button class="reveal-button" onclick=@(() => ToggleData())>
    @if (!ShouldReveal)
        {
            <span>Show Description</span>
        }
        else
        {
            <i>Hide Description</i>
        }
    </button>
}
@if (ShouldReveal)
{
    <p class="reveal-content">@Description</p>
}

<style scoped>
    .reveal-button {
        width: 8rem;
    }
</style>

@code {
    [Parameter, EditorRequired]
    public string Description { get; set; } = default!;

    bool ShouldReveal { get; set; } = false;

    void ToggleData()
    {
        ShouldReveal = !ShouldReveal;
    }
}