@using YarkApiClient

@* Changes *@
<ol>
    @* Titles *@
    @for (int Index = 0; Index < Titles.Count; Index += 1)
    {
        (DateTime DateTime, string Data) = Titles[Index];
        <YarkBlazor.Components.VideoHistoryItem Name="Title" DateTime=@DateTime Length=@Titles.Count Index=@Index>@Data
        </YarkBlazor.Components.VideoHistoryItem>
    }
    @* Descriptions *@
    @for (int Index = 0; Index < Descriptions.Count; Index += 1)
    {
        (DateTime DateTime, string Data) = Descriptions[Index];
        <YarkBlazor.Components.VideoHistoryItem Name="Description" DateTime=@DateTime Length=@Descriptions.Count
            Index=@Index>@Data</YarkBlazor.Components.VideoHistoryItem>
    }
    @* Views *@
    @for (int Index = 0; Index < Views.Count; Index += 1)
    {
        (DateTime DateTime, int Data) = Views[Index];
        <YarkBlazor.Components.VideoHistoryItem Name="View count" DateTime=@DateTime Length=@Views.Count Index=@Index>@Data
        </YarkBlazor.Components.VideoHistoryItem>
    }
    @* Likes *@
    @for (int Index = 0; Index < Likes.Count; Index += 1)
    {
        (DateTime DateTime, int Data) = Likes[Index];
        <YarkBlazor.Components.VideoHistoryItem Name="Like count" DateTime=@DateTime Length=@Likes.Count Index=@Index>@Data
        </YarkBlazor.Components.VideoHistoryItem>
    }
</ol>
@* Disclaimers *@
<ul>
    @* No changes at all *@
    @if (Titles.Count == 0 && Descriptions.Count == 0 && Views.Count == 0 && Likes.Count == 0)
    {
        <li class="disclaimer">No changes on record</li>
    }
    @* Specific nothing disclaimers *@
    else
    {
        @* Nothing disclaimers (title/description) *@
        @if (Titles.Count == 0 && Descriptions.Count == 0)
        {
            <li class="disclaimer">No title or description changes on record</li>
        }
        else if (Titles.Count == 0)
        {
            <li class="disclaimer">No title changes on record</li>
        }
        else if (Descriptions.Count == 0)
        {
            <li class="disclaimer">No description changes on record</li>
        }
        @* Nothing disclaimers (views/likes) *@
        @if (Views.Count == 0 && Likes.Count == 0)
        {
            <li class="disclaimer">No view or like count changes on record</li>
        }
        else if (Views.Count == 0)
        {
            <li class="disclaimer">No view count changes on record</li>
        }
        else if (Likes.Count == 0)
        {
            <li class="disclaimer">No like count changes on record</li>
        }
    }
</ul>

<style scoped>
    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    .disclaimer {
        line-height: 1.85;
        font-size: 0.95rem;
        margin-left: 1rem;
        max-width: calc(500px - 1rem);
    }
</style>

@code {
    [Parameter, EditorRequired]
    public Video Video { get; set; } = default!;

    List<(DateTime, string)> Titles { get; set; } = new List<(DateTime, string)>();

    List<(DateTime, string)> Descriptions { get; set; } = new List<(DateTime, string)>();

    List<(DateTime, int)> Views { get; set; } = new List<(DateTime, int)>();

    List<(DateTime, int)> Likes { get; set; } = new List<(DateTime, int)>();

    protected override void OnInitialized()
    {
        @* TODO *@
        base.OnInitialized();
    }
}