@using YarkApiClient
@using System.Web

@* TODO: sort by popularity/oldest also *@
@if (Videos != null && ArchiveId != null)
{
    <div class="videos-list">
    @foreach (Video Video in SortedByUpload())
        {
            <YarkBlazor.Components.VideoPreview ArchiveId=@ArchiveId Video=@Video VideoCollectionKind=@VideoCollectionKind />
        }
    </div>
}

<style scoped>
    .videos-list {
        display: flex;
        flex-wrap: wrap;
    }
</style>

@code {
    [Parameter, EditorRequired]
    public string ArchiveId { get; set; } = default!;

    [Parameter, EditorRequired]
    public List<Video> Videos { get; set; } = default!;

    [Parameter, EditorRequired]
    public VideoCollectionKind VideoCollectionKind { get; set; } = default!;

    List<Video> SortedByUpload()
    {
        return Videos.OrderByDescending(video => video.Uploaded).ToList();
    }
}