@using YarkApiClient

@if (History != null && History.Count() > 2)
{
    <ol>
    @foreach (HistoryItem<string> historyItem in History)
        {
            <VideoHistoryItem Item=@historyItem />
        }
    </ol>
}
else
{
    <ul>
    <li class="disclaimer">No major changes on record</li>
</ul>
}

<style scoped>
    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc !important;
    }

    .disclaimer {
        line-height: 1.85;
        font-size: 0.95rem;
        margin-left: 1rem;
        max-width: calc(500px - 1rem);
    }
</style>

@code {
    [Parameter, EditorRequired]
    public Video Video { get; set; } = default!;

    IEnumerable<HistoryItem<string>>? History { get; set; }

    int TitleCount { get; set; } = 0;

    int DescriptionCount { get; set; } = 0;

    protected override void OnInitialized()
    {
        IEnumerable<HistoryItem<string>> titles = HistoryItem<string>.ElementsToHistoryItems("Title", Video.Title);
        TitleCount = titles.Count();
        IEnumerable<HistoryItem<string>> descriptions = HistoryItem<string>.ElementsToHistoryItems("Description",
        Video.Description);
        DescriptionCount = descriptions.Count();
        IEnumerable<HistoryItem<string>> mergedAndSorted = titles.Concat(descriptions).OrderByDescending(hi => hi.DateTime);
        History = mergedAndSorted;

        base.OnInitialized();
    }
}