// Basic global styling properties

// Font settings for all
:root {
	font-family: 'Inter', sans-serif;
}

// Variable inter font (if supported)
@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

// Overrule the reset css for line height
body {
	line-height: 1.5 !important;
}

// Optional invisible links
a.invis {
	text-decoration: none;
	color: inherit;
}

// Centre element horizontally on the page
.centre-h {
	display: flex;
	justify-content: center;
}

// Border/shadows around cards, generalised for use in cards or other card-like items
.card-border {
	border: 1px solid rgba($color: #000000, $alpha: 0.12);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

// Small heading to designate a section within a card component
.card-heading {
	margin: 0;
	margin-top: 0.5rem;
	font-size: small;
	font-weight: 400;
	color: rgb(79, 79, 79);
}

// Generalised input styling to use
@mixin input {
	$margin-v: 0.5rem;
	$padding-h: 0.5rem;

	height: 1.75rem;
	border: 1px solid rgba(27, 31, 35, 0.15);
	border-radius: 5px;
	margin: 0;
	margin-top: 0.35rem;
	margin-bottom: 0.5rem;
	padding: 0;
	padding-left: $padding-h;
	padding-right: $padding-h;
	font-size: 0.8rem;
	color: rgb(56, 56, 56);
}

// Input text styling
input[type='text'] {
	@include input();

	min-width: 15rem;

	&.mini {
		min-width: unset;
		width: 5rem;
	}
}

// Major continue button
.bright {
	@include input();

	$padding-h: 0.65rem;

	background-color: #fafbfc;
	box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	padding-left: $padding-h;
	padding-right: $padding-h;

	&:hover {
		background-color: #f3f4f6;
		transition-duration: 0.1s;
	}
}

// Small directory slash indicator between two components
.slash-indicator {
	color: rgb(133, 133, 133);
}

// Invalid ring typically around an entry element
.invalid {
	border: 1px solid rgb(217, 89, 89) !important;
}
