{% extends 'base.html' %}

{% block styling %}
<style>
    body {
        margin-bottom: 3rem;
    }

    video {
        margin-top: 8vh;
    }

    .info {
        color: #7f7f7f;
        display: flex;
        justify-content: space-between;
    }

    .info>p {
        margin-top: 0;
    }

    h1 {
        margin-bottom: 0.75rem;
    }

    canvas {
        width: 50vw;
    }

    #description,
    .metadata {
        font-size: 0.9rem;
        line-height: 1.25rem;
        color: #595959;
        margin-left: 1rem;
    }


    .metadata {
        display: none;
        margin-top: -0.65rem;
        margin-bottom: 0.65rem;
    }

    video,
    h1,
    #description,
    .info {
        width: 60vw;
    }

    @media screen and (max-width: 850px) {

        video,
        h1,
        canvas,
        #description,
        .info {
            width: 80vw;
        }
    }

    .link {
        text-decoration: none;
        color: inherit;
    }

    .spacer {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    ul {
        line-height: 2.25rem;
    }

    @media (prefers-color-scheme: dark) {

        #description,
        .metadata {
            color: rgb(181, 181, 181);
        }
    }
</style>
{% endblock %}

{% block content %}
<div id="content">
    <!-- Video -->
    <video src="/archive/{{ video.channel.path }}/videos/{{ video.id }}.mp4" autoplay controls></video>
    <!-- Information -->
    <h1>{{ video.title.current() }}</h1>
    <div class="info">
        {% set views = video.views.current() %}
        <p>
            <!-- View count -->
            {{ views }} view{% if views != 1 %}s{% endif %}
            <!-- Uploaded -->
            <span class="spacer">•</span>
            {{ video.uploaded.strftime("%d/%m/%Y") }}
            <!-- Updated -->
            {% if video.updated() %}
            <span class="spacer">•</span>
            🌀
            {% endif %}
        </p>
        <p>
            <!-- Youtube link -->
            <a href="https://www.youtube.com/watch?v={{ video.id }}" class="link">🔗</a>
            <!-- Download link -->
            <span class="spacer">•</span>
            <a href="/archive/{{ video.channel.path }}/videos/{{ video.id }}.mp4" class="link" download>💾</a>
            <!-- Like count -->
            {% set likes = video.likes.current() %}
            {% if likes or likes == 0 %}
            <span class="spacer">•</span>
            👍 {{ likes }}
            {% endif %}
        </p>
    </div>
    <!-- Description -->
    {% set description = video.description.current().split("\n") %}
    {% set no_description = description|count == 1 and description[0] == "" %}
    {% if not no_description %}
    <button onclick="toggleButton('description', 'description', this)">Show description</button>
    <p id="description" style="display: none;">
        {% for line in description %}
        {{ line }}<br />
        {% endfor %}
    </p>
    {% endif %}
    <!-- History -->
    <h2>History</h2>
    {% set mto_title = video.title.inner|count != 1 %}
    {% set mto_description = video.description.inner|count != 1 %}
    {% set mto_views = video.views.inner|count != 1 %}
    {% set mto_likes = video.likes.inner|count != 1 %}
    <ul>
        <!-- Titles -->
        {% if not mto_title and not mto_description %}
        <li>No title or description changes on record</li>
        {% else %}
        {% if mto_title %}
        {% for timestamp in video.title.inner %}
        <li>
            {% if loop.index == video.title.inner|count %}
            Current title has been in place since {{ timestamp.strftime("%d/%m/%Y") }}
            {% else %}
            {% if loop.index == 1 %}
            Title was originally
            {% else %}
            Title changed to
            {% endif %}
            <button onclick="toggleButton('history_title' + {{ loop.index }}, 'title', this)">
                Show title
            </button>
            on {{ timestamp.strftime("%d/%m/%Y") }}
            <span id="history_title{{ loop.index }}" class="metadata">
                <br />{{ video.title.inner[timestamp] }}
            </span>
            {% endif %}
        </li>
        {% endfor %}
        {% else %}
        <li>No title changes on record</li>
        {% endif %}
        <!-- Descriptions -->
        {% if mto_description %}
        {% for timestamp in video.description.inner %}
        <li>
            {% if loop.index == video.description.inner|count %}
            Current description has been in place since {{ timestamp.strftime("%d/%m/%Y") }}
            {% else %}
            {% if loop.index == 1 %}
            Description was originally
            {% else %}
            Description changed to
            {% endif %}
            <button onclick="toggleButton('history_description' + {{ loop.index }}, 'description', this)">
                Show description
            </button>
            on {{ timestamp.strftime("%d/%m/%Y") }}
            <span id="history_description{{ loop.index }}" class="metadata">
                <br />
                {% for line in video.description.inner[timestamp].split("\n") %}
                {{ line }}<br />
                {% endfor %}
            </span>
            {% endif %}
        </li>
        {% endfor %}
        {% else %}
        <li>No description changes on record</li>
        {% endif %}
        {% endif %}
        <!-- Likes/view summary -->
        {% if not mto_views and not mto_likes %}
        <li>No view or like changes on record</li>
        {% elif not mto_views %}
        <li>No view changes on record</li>
        {% elif not mto_likes %}
        <li>No like changes on record</li>
        {% endif %}
    </ul>
    <!-- Graphs -->
    {% if mto_views or mto_likes %}
    {% if mto_views %}
    <h2>Views over time</h2>
    <canvas id="chart_views"></canvas>
    {% endif %}
    {% if mto_likes %}
    <h2>Likes over time</h2>
    <canvas id="chart_likes"></canvas>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>
        function chart(type, id, data) {
            // Generate config
            const points = {
                labels: Object.keys(data).map(date => new Date(date)),
                datasets: [{
                    label: "# of " + type,
                    data: Object.values(data),
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    tension: 0.1
                }]
            };

            // Get context
            const ctx = document.getElementById(id).getContext("2d");

            // Create chart
            return new Chart(ctx, {
                type: "line",
                data: points,
                options: {
                    responsive: false, // TODO: responsive but still the right width
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                displayFormats: {
                                    quarter: "MMM D (hA)"
                                }
                            },
                        },
                        y: {
                            ticks: {
                                stepSize: 10
                            },
                        }
                    }
                }
            })
        }

        // Get data
        let views_data = {{ views_data| safe }};
        let likes_data = {{ likes_data| safe }};

        // Create charts
        if (Object.keys(views_data).length != 1) {
            chart("Views", "chart_views", views_data);
        }
        if (Object.keys(likes_data).length != 1) {
            chart("Likes", "chart_likes", likes_data);
        }
    </script>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function toggleButton(id, name, caller) {
        let el = document.getElementById(id);
        if (el.style.display === "none" || el.style.display === "") {
            caller.innerText = "Hide " + name;
            el.style.display = "block";
        } else {
            caller.innerText = "Show " + name;
            el.style.display = "none";
        }
    }
</script>
{% endblock %}